<a href="https://colab.research.google.com/github/poojakumawat23/test-1/blob/main/Untitled3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
import pandas as pd

In [5]:
from google.colab import drive
drive.mount=('/content/drive')

In [8]:
df=pd.read_excel('/content/colab.xlsx')

In [9]:
df.head()

,Employee_Name,Employee_ID,Job_Role,Phone_Number,Email_ID,Total_Work_Hour_per_Month,Salary_per_Month
0,Jane Miller,8797,Developer,3.801881e+09,emily.taylor@example.com,9999.0,NaN
1,Michael Brown,6540,Manager,7.904752e+09,john.brown@test.net,160.0,11200.0
2,Sarah Anderson,2353,Developer,9.463822e+09,sarah.wilson@sample.org,9999.0,-5000.0
3,Chris Johnson,6392,Engineer,8.727628e+09,john.jones@sample.org,160.0,8000.0
4,Laura Smith,1653,Analyst,7.750284e+08,sarah.taylor@test.net,9999.0,NaN

In [43]:
df.tail()

,Employee_Name,Employee_ID,Job_Role,Phone_Number,Email_ID,Total_Work_Hour_per_Month,Salary_per_Month,Hourly_Wage:
95,Emily Smith,5111,0,4.463884e+09,james.davis@test.net,-10.0,100000.0,-10000.0
96,Sarah Wilson,7388,Engineer,7.455009e+09,john.johnson@example.com,0.0,100000.0,0.0
97,0,3773,Manager,4.515526e+08,david.miller@sample.org,0.0,100000.0,0.0
98,Sarah Smith,1442,Analyst,3.294945e+09,jessica.anderson@example.com,-10.0,-5000.0,500.0
99,Michael Jones,3490,Analyst,9.425622e+09,john.miller@sample.org,0.0,0.0,0.0

In [17]:
duplicate_employees=df[df.duplicated(subset="Employee_ID",keep=False)]
print(duplicate_employees)

    Employee_Name  Employee_ID        Job_Role  Phone_Number  \
6   Michael Jones         3654         Manager  8.045243e+09
16    Laura Jones         5596         Analyst  6.650995e+09
50     John Jones         1442  Data Scientist  3.139018e+09
56            NaN         3654       Developer  5.844402e+09
72    Jane Wilson         5596         Manager  9.602139e+09
98    Sarah Smith         1442         Analyst  3.294945e+09

                        Email_ID  Total_Work_Hour_per_Month  Salary_per_Month
6     laura.williams@example.com                      160.0           11200.0
16     john.williams@example.com                      200.0           10000.0
50     laura.williams@sample.org                      160.0            8000.0
56          laura.brown@test.net                      -10.0          100000.0
72          jane.miller@test.net                      200.0           12000.0
98  jessica.anderson@example.com                      -10.0           -5000.0

In [18]:
df1=df['Job_Role'].unique()
print(df1)

['Developer' 'Manager' 'Engineer' 'Analyst' 'Data Scientist' nan]

In [19]:
print(df)

     Employee_Name  Employee_ID   Job_Role  Phone_Number  \
0      Jane Miller         8797  Developer  3.801881e+09
1    Michael Brown         6540    Manager  7.904752e+09
2   Sarah Anderson         2353  Developer  9.463822e+09
3    Chris Johnson         6392   Engineer  8.727628e+09
4      Laura Smith         1653    Analyst  7.750284e+08
..             ...          ...        ...           ...
95     Emily Smith         5111        NaN  4.463884e+09
96    Sarah Wilson         7388   Engineer  7.455009e+09
97             NaN         3773    Manager  4.515526e+08
98     Sarah Smith         1442    Analyst  3.294945e+09
99   Michael Jones         3490    Analyst  9.425622e+09

                        Email_ID  Total_Work_Hour_per_Month  Salary_per_Month
0       emily.taylor@example.com                     9999.0               NaN
1            john.brown@test.net                      160.0           11200.0
2        sarah.wilson@sample.org                     9999.0           -5000.0
3          john.jones@sample.org                      160.0            8000.0
4          sarah.taylor@test.net                     9999.0               NaN
..                           ...                        ...               ...
95          james.davis@test.net                      -10.0          100000.0
96      john.johnson@example.com                        NaN          100000.0
97       david.miller@sample.org                        NaN          100000.0
98  jessica.anderson@example.com                      -10.0           -5000.0
99        john.miller@sample.org                        NaN               NaN

[100 rows x 7 columns]

In [20]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 7 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Employee_Name              91 non-null     object
 1   Employee_ID                100 non-null    int64
 2   Job_Role                   90 non-null     object
 3   Phone_Number               92 non-null     float64
 4   Email_ID                   91 non-null     object
 5   Total_Work_Hour_per_Month  77 non-null     float64
 6   Salary_per_Month           80 non-null     float64
dtypes: float64(3), int64(1), object(3)
memory usage: 5.6+ KB

In [37]:
df['Hourly_Wage:'] = df['Salary_per_Month'] / df['Total_Work_Hour_per_Month']
print(df)

     Employee_Name  Employee_ID   Job_Role  Phone_Number  \
0      Jane Miller         8797  Developer  3.801881e+09
1    Michael Brown         6540    Manager  7.904752e+09
2   Sarah Anderson         2353  Developer  9.463822e+09
3    Chris Johnson         6392   Engineer  8.727628e+09
4      Laura Smith         1653    Analyst  7.750284e+08
..             ...          ...        ...           ...
95     Emily Smith         5111        NaN  4.463884e+09
96    Sarah Wilson         7388   Engineer  7.455009e+09
97             NaN         3773    Manager  4.515526e+08
98     Sarah Smith         1442    Analyst  3.294945e+09
99   Michael Jones         3490    Analyst  9.425622e+09

                        Email_ID  Total_Work_Hour_per_Month  Salary_per_Month  \
0       emily.taylor@example.com                     9999.0               NaN
1            john.brown@test.net                      160.0           11200.0
2        sarah.wilson@sample.org                     9999.0           -5000.0
3          john.jones@sample.org                      160.0            8000.0
4          sarah.taylor@test.net                     9999.0               NaN
..                           ...                        ...               ...
95          james.davis@test.net                      -10.0          100000.0
96      john.johnson@example.com                        NaN          100000.0
97       david.miller@sample.org                        NaN          100000.0
98  jessica.anderson@example.com                      -10.0           -5000.0
99        john.miller@sample.org                        NaN               NaN

    Hourly_Wage:
0            NaN
1       70.00000
2       -0.50005
3       50.00000
4            NaN
..           ...
95  -10000.00000
96           NaN
97           NaN
98     500.00000
99           NaN

[100 rows x 8 columns]

In [38]:
df.dropna()

,Employee_Name,Employee_ID,Job_Role,Phone_Number,Email_ID,Total_Work_Hour_per_Month,Salary_per_Month,Hourly_Wage:
1,Michael Brown,6540,Manager,7.904752e+09,john.brown@test.net,160.0,11200.0,70.00000
2,Sarah Anderson,2353,Developer,9.463822e+09,sarah.wilson@sample.org,9999.0,-5000.0,-0.50005
3,Chris Johnson,6392,Engineer,8.727628e+09,john.jones@sample.org,160.0,8000.0,50.00000
6,Michael Jones,3654,Manager,8.045243e+09,laura.williams@example.com,160.0,11200.0,70.00000
7,Sarah Smith,8297,Data Scientist,7.301689e+09,jane.brown@test.net,200.0,14000.0,70.00000
14,Michael Miller,1634,Data Scientist,2.416309e+09,emily.johnson@test.net,9999.0,-5000.0,-0.50005
15,Michael Smith,5621,Engineer,5.734920e+09,michael.taylor@test.net,160.0,9600.0,60.00000
16,Laura Jones,5596,Analyst,6.650995e+09,john.williams@example.com,200.0,10000.0,50.00000
18,John Smith,2486,Manager,5.180124e+09,sarah.davis@test.net,200.0,12000.0,60.00000
29,Laura Johnson,8972,Data Scientist,3.477954e+09,jane.miller@test.net,180.0,12600.0,70.00000
31,Jessica Williams,9193,Data Scientist,8.414400e+09,sarah.jones@sample.org,160.0,11200.0,70.00000
36,James Miller,1613,Manager,2.074013e+09,laura.johnson@example.com,180.0,9000.0,50.00000
38,Emily Wilson,9713,Manager,7.156704e+09,jessica.smith@test.net,-10.0,-5000.0,500.00000
39,Jessica Miller,8776,Engineer,3.914933e+09,sarah.williams@sample.org,160.0,9600.0,60.00000
40,Emily Jones,9930,Engineer,3.155857e+09,james.anderson@sample.org,-10.0,100000.0,-10000.00000
43,Jane Johnson,1781,Developer,4.445761e+09,jane.anderson@example.com,-10.0,100000.0,-10000.00000
44,James Taylor,2991,Analyst,1.371024e+09,jane.wilson@sample.org,180.0,10800.0,60.00000
45,Jessica Anderson,4681,Developer,7.102670e+09,james.davis@example.com,160.0,9600.0,60.00000
47,Sarah Brown,5577,Manager,7.568923e+08,laura.taylor@sample.org,160.0,8000.0,50.00000
48,Chris Jones,9320,Data Scientist,2.767192e+09,laura.taylor@sample.org,-10.0,-5000.0,500.00000
49,Emily Jones,6199,Manager,9.158789e+09,michael.brown@example.com,180.0,12600.0,70.00000
50,John Jones,1442,Data Scientist,3.139018e+09,laura.williams@sample.org,160.0,8000.0,50.00000
53,John Davis,7480,Developer,3.066599e+09,emily.smith@example.com,160.0,8000.0,50.00000
54,Chris Taylor,7031,Developer,7.669551e+09,james.anderson@sample.org,160.0,11200.0,70.00000
55,Emily Williams,2535,Analyst,9.317654e+09,chris.taylor@sample.org,200.0,14000.0,70.00000
60,Jane Jones,6742,Data Scientist,8.355664e+09,james.wilson@sample.org,-10.0,-5000.0,500.00000
66,Chris Miller,1061,Developer,7.206476e+09,jane.miller@sample.org,160.0,11200.0,70.00000
67,Jane Smith,5785,Data Scientist,2.504252e+09,laura.brown@sample.org,200.0,14000.0,70.00000
70,Michael Johnson,5045,Analyst,8.703092e+09,michael.miller@example.com,9999.0,-5000.0,-0.50005
71,Jane Anderson,8889,Manager,7.736842e+09,michael.smith@example.com,9999.0,-5000.0,-0.50005
72,Jane Wilson,5596,Manager,9.602139e+09,jane.miller@test.net,200.0,12000.0,60.00000
73,Laura Taylor,8129,Engineer,1.907863e+09,sarah.williams@example.com,160.0,9600.0,60.00000
74,Emily Davis,8408,Engineer,4.868417e+09,sarah.wilson@test.net,9999.0,100000.0,10.00100
76,Chris Anderson,1536,Engineer,3.379546e+09,david.taylor@example.com,180.0,12600.0,70.00000
77,Jane Brown,1340,Developer,5.831809e+09,james.taylor@example.com,180.0,12600.0,70.00000
78,Emily Smith,6037,Analyst,3.189277e+09,emily.jones@sample.org,160.0,11200.0,70.00000
79,John Johnson,5021,Developer,3.639995e+09,emily.anderson@sample.org,180.0,10800.0,60.00000
80,Sarah Williams,7632,Manager,2.557227e+09,michael.davis@example.com,200.0,14000.0,70.00000
81,Jessica Brown,8979,Engineer,3.949648e+09,sarah.johnson@example.com,-10.0,-5000.0,500.00000
82,James Smith,7348,Manager,5.628830e+09,david.brown@sample.org,-10.0,100000.0,-10000.00000
91,Laura Anderson,2024,Analyst,8.723474e+09,emily.miller@test.net,180.0,10800.0,60.00000
93,Laura Johnson,2658,Engineer,2.847548e+09,james.wilson@example.com,-10.0,-5000.0,500.00000
98,Sarah Smith,1442,Analyst,3.294945e+09,jessica.anderson@example.com,-10.0,-5000.0,500.00000

In [41]:
df.fillna(value=0,inplace=True)
print(df)

     Employee_Name  Employee_ID   Job_Role  Phone_Number  \
0      Jane Miller         8797  Developer  3.801881e+09
1    Michael Brown         6540    Manager  7.904752e+09
2   Sarah Anderson         2353  Developer  9.463822e+09
3    Chris Johnson         6392   Engineer  8.727628e+09
4      Laura Smith         1653    Analyst  7.750284e+08
..             ...          ...        ...           ...
95     Emily Smith         5111          0  4.463884e+09
96    Sarah Wilson         7388   Engineer  7.455009e+09
97               0         3773    Manager  4.515526e+08
98     Sarah Smith         1442    Analyst  3.294945e+09
99   Michael Jones         3490    Analyst  9.425622e+09

                        Email_ID  Total_Work_Hour_per_Month  Salary_per_Month  \
0       emily.taylor@example.com                     9999.0               0.0
1            john.brown@test.net                      160.0           11200.0
2        sarah.wilson@sample.org                     9999.0           -5000.0
3          john.jones@sample.org                      160.0            8000.0
4          sarah.taylor@test.net                     9999.0               0.0
..                           ...                        ...               ...
95          james.davis@test.net                      -10.0          100000.0
96      john.johnson@example.com                        0.0          100000.0
97       david.miller@sample.org                        0.0          100000.0
98  jessica.anderson@example.com                      -10.0           -5000.0
99        john.miller@sample.org                        0.0               0.0

    Hourly_Wage:
0        0.00000
1       70.00000
2       -0.50005
3       50.00000
4        0.00000
..           ...
95  -10000.00000
96       0.00000
97       0.00000
98     500.00000
99       0.00000

[100 rows x 8 columns]